---
layout: archive
classes: wide
paginate: 3
---
<!-- 
  NOTE: To re-use the same `archive-ingle.html` layout as the post type, we need to 
  keep the name of `pots` in lines such a { % aing postsInYear = site.publication % \}.
  Otherwise, 'archive-single.html', which will try to read attributes of the `post' object
  cannot find anything.
 -->
{{ content }}

<ul class="taxonomy__index">
  {% assign postsInYear = site.publications | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date |
  date: "%Y"' | sort: "date" | reverse %}
  {% for year in postsInYear %}
  <li>
    <a href="#{{ year.name }}">
      <strong>{{ year.name }}</strong> <span class="taxonomy__count">{{ year.items | size }}</span>
    </a>
  </li>
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign postsByYear = site.publications | sort: "date" | reverse | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date:
"%Y"' %}
{% assign sortedPostsByYear = postsByYear %}
{% for year in sortedPostsByYear %}
<section id="{{ year.name }}" class="taxonomy__section">
  <h2 class="archive__subtitle">{{ year.name }}</h2>
  <div class="entries-{{ entries_layout }}">
    {% for post in year.items %}
    {% include archive-single.html type=entries_layout %}
    {% endfor %}
  </div>
  <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }}
    &uarr;</a>
</section>
{% endfor %}
